body {
  margin: 0;
  overflow: hidden;
  background: #0f172a;
  color: white;
  font-family: Arial;
}

#scoreBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

#gameCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

canvas {
  cursor: crosshair;
}

#missCounter{
  position:absolute;
  top:10px;
  right:20px;
  font-size:20px;
}
#gameOverScreen{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.85);
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:30px;
  display:none;
}

#playAgainBtn{
  margin-top:20px;
  padding:12px 25px;
  font-size:18px;
  cursor:pointer;
}

.start-screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("./assets/start-bg.png");
  background-size: cover;
  background-position: center;
  color: black;
}

.game-title{
  font-size: 60px;
}

.key-display{
  margin-top: 10px;
}

.button-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 15px;
}

.menu-button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #D8C4FF;
  color: white;
}

.countdown{
  font-size: 80px;
}
.countdown-screen{
  background-image: url("./assets/countdown-bg.png");
}
.menu-button:hover{
  background-color: #C6AAFF;
  color: white;
}
#scoreMessage{
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: gold;
  text-align: center;
}
#leaderboardList {
  list-style: none;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;

  width: 300px;
  text-align: left;
}
#leaderboardList::-webkit-scrollbar {
  width: 6px;
}

#leaderboardList::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 10px;
}
#nameError{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  height: 16px; /* prevents layout shift */
}
#nameInputSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#nameInputSection input {
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
}

#nameInputSection button {
  height: 54px;
  font-size: 16px;
  padding: 5px 15px;
  margin-left: 10px;
}
#shareSection {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#shareSection button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
}

#shareSection button:hover {
  background-color: #16a34a;
}